<h2>List of restaurants</h2>

<div class="my-5">
  <% @restaurants.each do |restaurant| %>
    <li class="list-group-item"><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
</div>
